.blog-img {
  background-image: url("../../assets/blog-img.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-text {
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    padding-top: 6%;
  }